
body {
    padding: 0;
    margin: 0;
  }
  
#map,
body,
html {
  height: 100%;
}
 
/* https://css-tricks.com/multiple-class-id-selectors/ */
.leaflet-bottom.leaflet-right {
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
}

.legend {
    line-height: 25px;
    color: #555;
}
.legend i {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}